In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.3.3

In [ ]:
data = pd.read_csv(r"NetflixUser.csv")

In [ ]:
data.head() # data.head(20) gives 20 tuples of data .

In [ ]:
data.tail() # data.tail(20) gives 20 tuples of data .

In [ ]:
data.info()

In [ ]:
"""Deleting redundant coloumns.
    Renameing the coloumns.
    Dropping duplicates.
    Remove the NaN values from the dataset
    Check for some more Transformations"""

In [ ]:
data.head(1)

In [ ]:
data.columns

In [ ]:
data[["rating"]]

In [ ]:
# rating coloumn is irrelavent so we can drop it
data.drop(columns=["rating"]) # if want to drop multiple coloumns just keep a ',' and place the column .
# The above  change is not permanent so for chsning permanently we have 2 methods 
# 1. adding a parameter inplace and set it to True
# 2. equate it with data variable

In [ ]:
data = data.drop(columns=["rating"])

In [ ]:
data.drop(columns=["rating"],inplace=True)

In [ ]:
data.head()

In [ ]:
data.columns

In [ ]:
# To capitalize the columns :-
new_column_names = []
for every_column in data.columns:
    new_column_names.append(every_column.capitalize())
data.columns = new_column_names
data.columns

In [ ]:
data.head()

In [ ]:
# True → this row/value is a duplicate .
# False → this is the first occurrence .
data.duplicated()

In [ ]:
# for cleaning duplicates 
data.drop_duplicates(inplace = True)
data.head()

In [ ]:
data.isna()

In [ ]:
data.isna().sum()   #If sum is zero then there is no NaN values .

In [ ]:
data.dropna(inplace=True)
data.head()

In [ ]:
data["Show_id"].unique()

In [ ]:
data["Show_id"].nunique()

In [ ]:
data["Show_id"] = data["Show_id"].apply(lambda x: x.split("s")[1])

In [ ]:
data.head()

In [ ]:
data["Show_id"] = data["Show_id"].astype(int)

In [ ]:
data.head()

In [ ]:
data["Date_added"] = data["Date_added"].apply(lambda x: x.replace("/","-"))
data.head()

In [60]:
data["Date_added"].apply(lambda x: x.replace("-","/"))
data.head()

,Show_id,Type,Title,Director,Country,Date_added,Release_year,Duration,Listed_in
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9-25-2021,2020,90 min,Documentaries
1,3,TV Show,Ganglands,Julien Leclercq,France,9-24-2021,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,6,TV Show,Midnight Mass,Mike Flanagan,United States,9-24-2021,2021,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9-22-2021,2021,91 min,"Children & Family Movies, Comedies"
4,8,Movie,Sankofa,Haile Gerima,United States,9-24-2021,1993,125 min,"Dramas, Independent Movies, International Movies"

In [ ]:
df = data["Country"].value_counts().reset_index()
df[df["Country"] == "Hong Kong"]

In [ ]:
df = data[data["Country"] == "Luxembourg"]
print(df.to_string())

In [70]:
# export the data
data.to_csv("Cleaned_data_CSV.csv",index = False)

In [ ]:
# export the data
data.to_excel("Cleaned_data_Excel.xlsx",index = False)