In [4]:
import pandas as pd

In [5]:
data = pd.read_csv(r"E-commerce_Dataset.csv")

In [6]:
data.head()

,Unnamed: 0,BrandName,Deatils,Sizes,MRP,SellPrice,Discount,Category
0,0,life,solid cotton blend collar neck womens a-line d...,"Size:Large,Medium,Small,X-Large,X-Small",Rs\n1699,849,50% off,Westernwear-Women
1,1,only,polyester peter pan collar womens blouson dres...,"Size:34,36,38,40",Rs\n3499,2449,30% off,Westernwear-Women
2,2,fratini,solid polyester blend wide neck womens regular...,"Size:Large,X-Large,XX-Large",Rs\n1199,599,50% off,Westernwear-Women
3,3,zink london,stripes polyester sweetheart neck womens dress...,"Size:Large,Medium,Small,X-Large",Rs\n2299,1379,40% off,Westernwear-Women
4,4,life,regular fit regular length denim womens jeans ...,"Size:26,28,30,32,34,36",Rs\n1699,849,50% off,Westernwear-Women

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30758 entries, 0 to 30757
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  30758 non-null  int64
 1   BrandName   30758 non-null  object
 2   Deatils     30758 non-null  object
 3   Sizes       30758 non-null  object
 4   MRP         30758 non-null  object
 5   SellPrice   30758 non-null  object
 6   Discount    30758 non-null  object
 7   Category    30758 non-null  object
dtypes: int64(1), object(7)
memory usage: 1.9+ MB

In [8]:
data.shape

(30758, 8)

In [9]:
data.columns

Index(['Unnamed: 0', 'BrandName', 'Deatils', 'Sizes', 'MRP', 'SellPrice',
       'Discount', 'Category'],
      dtype='object')

In [10]:
data.drop(columns = "Unnamed: 0", inplace = True)

In [11]:
data.rename(columns = {"Deatils": "Details"}, inplace = True)

In [12]:
data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
30753    False
30754     True
30755    False
30756    False
30757    False
Length: 30758, dtype: bool

In [13]:
data.drop_duplicates(inplace = True)

In [14]:
data.duplicated().value_counts()

False    27931
Name: count, dtype: int64

In [15]:
data.duplicated().sum()

np.int64(0)

In [16]:
data.head(1)

,BrandName,Details,Sizes,MRP,SellPrice,Discount,Category
0,life,solid cotton blend collar neck womens a-line d...,"Size:Large,Medium,Small,X-Large,X-Small",Rs\n1699,849,50% off,Westernwear-Women

In [17]:
data["BrandName"] = data["BrandName"].str.upper()

In [18]:
data.head(1)

,BrandName,Details,Sizes,MRP,SellPrice,Discount,Category
0,LIFE,solid cotton blend collar neck womens a-line d...,"Size:Large,Medium,Small,X-Large,X-Small",Rs\n1699,849,50% off,Westernwear-Women

In [19]:
data.reset_index(inplace=True)

In [20]:
data = data.drop(columns="index")

In [21]:
data

,BrandName,Details,Sizes,MRP,SellPrice,Discount,Category
0,LIFE,solid cotton blend collar neck womens a-line d...,"Size:Large,Medium,Small,X-Large,X-Small",Rs\n1699,849,50% off,Westernwear-Women
1,ONLY,polyester peter pan collar womens blouson dres...,"Size:34,36,38,40",Rs\n3499,2449,30% off,Westernwear-Women
2,FRATINI,solid polyester blend wide neck womens regular...,"Size:Large,X-Large,XX-Large",Rs\n1199,599,50% off,Westernwear-Women
3,ZINK LONDON,stripes polyester sweetheart neck womens dress...,"Size:Large,Medium,Small,X-Large",Rs\n2299,1379,40% off,Westernwear-Women
4,LIFE,regular fit regular length denim womens jeans ...,"Size:26,28,30,32,34,36",Rs\n1699,849,50% off,Westernwear-Women
...,...,...,...,...,...,...,...
27926,SHAYA BY CARATLANE,the wing woman clover charm necklace,Nan,Nan,1250,Nan,Jewellery-Women
27927,SWAROVSKI,crystal stylish womens rodhium earrings,Nan,Nan,8950,Nan,Jewellery-Women
27928,JEWELZ,ethnic gold plated jhumki earrings,Nan,Rs\n1839,643,65% off,Jewellery-Women
27929,ESTELLE,womens gold plated double line fancy white and...,Nan,Nan,2799,Nan,Jewellery-Women
27930,ESTELLE,womens gold plated bridge designer mangalsutra...,Nan,Nan,1899,Nan,Jewellery-Women

In [22]:
# if you have na values use data.dropna(inplace = True)

In [23]:
data["BrandName"] = data["BrandName"].apply(lambda x:x.capitalize())
data

,BrandName,Details,Sizes,MRP,SellPrice,Discount,Category
0,Life,solid cotton blend collar neck womens a-line d...,"Size:Large,Medium,Small,X-Large,X-Small",Rs\n1699,849,50% off,Westernwear-Women
1,Only,polyester peter pan collar womens blouson dres...,"Size:34,36,38,40",Rs\n3499,2449,30% off,Westernwear-Women
2,Fratini,solid polyester blend wide neck womens regular...,"Size:Large,X-Large,XX-Large",Rs\n1199,599,50% off,Westernwear-Women
3,Zink london,stripes polyester sweetheart neck womens dress...,"Size:Large,Medium,Small,X-Large",Rs\n2299,1379,40% off,Westernwear-Women
4,Life,regular fit regular length denim womens jeans ...,"Size:26,28,30,32,34,36",Rs\n1699,849,50% off,Westernwear-Women
...,...,...,...,...,...,...,...
27926,Shaya by caratlane,the wing woman clover charm necklace,Nan,Nan,1250,Nan,Jewellery-Women
27927,Swarovski,crystal stylish womens rodhium earrings,Nan,Nan,8950,Nan,Jewellery-Women
27928,Jewelz,ethnic gold plated jhumki earrings,Nan,Rs\n1839,643,65% off,Jewellery-Women
27929,Estelle,womens gold plated double line fancy white and...,Nan,Nan,2799,Nan,Jewellery-Women
27930,Estelle,womens gold plated bridge designer mangalsutra...,Nan,Nan,1899,Nan,Jewellery-Women

In [24]:
data # has nan in string so cant differentiate through the .isna().sum()

,BrandName,Details,Sizes,MRP,SellPrice,Discount,Category
0,Life,solid cotton blend collar neck womens a-line d...,"Size:Large,Medium,Small,X-Large,X-Small",Rs\n1699,849,50% off,Westernwear-Women
1,Only,polyester peter pan collar womens blouson dres...,"Size:34,36,38,40",Rs\n3499,2449,30% off,Westernwear-Women
2,Fratini,solid polyester blend wide neck womens regular...,"Size:Large,X-Large,XX-Large",Rs\n1199,599,50% off,Westernwear-Women
3,Zink london,stripes polyester sweetheart neck womens dress...,"Size:Large,Medium,Small,X-Large",Rs\n2299,1379,40% off,Westernwear-Women
4,Life,regular fit regular length denim womens jeans ...,"Size:26,28,30,32,34,36",Rs\n1699,849,50% off,Westernwear-Women
...,...,...,...,...,...,...,...
27926,Shaya by caratlane,the wing woman clover charm necklace,Nan,Nan,1250,Nan,Jewellery-Women
27927,Swarovski,crystal stylish womens rodhium earrings,Nan,Nan,8950,Nan,Jewellery-Women
27928,Jewelz,ethnic gold plated jhumki earrings,Nan,Rs\n1839,643,65% off,Jewellery-Women
27929,Estelle,womens gold plated double line fancy white and...,Nan,Nan,2799,Nan,Jewellery-Women
27930,Estelle,womens gold plated bridge designer mangalsutra...,Nan,Nan,1899,Nan,Jewellery-Women

In [25]:
data

,BrandName,Details,Sizes,MRP,SellPrice,Discount,Category
0,Life,solid cotton blend collar neck womens a-line d...,"Size:Large,Medium,Small,X-Large,X-Small",Rs\n1699,849,50% off,Westernwear-Women
1,Only,polyester peter pan collar womens blouson dres...,"Size:34,36,38,40",Rs\n3499,2449,30% off,Westernwear-Women
2,Fratini,solid polyester blend wide neck womens regular...,"Size:Large,X-Large,XX-Large",Rs\n1199,599,50% off,Westernwear-Women
3,Zink london,stripes polyester sweetheart neck womens dress...,"Size:Large,Medium,Small,X-Large",Rs\n2299,1379,40% off,Westernwear-Women
4,Life,regular fit regular length denim womens jeans ...,"Size:26,28,30,32,34,36",Rs\n1699,849,50% off,Westernwear-Women
...,...,...,...,...,...,...,...
27926,Shaya by caratlane,the wing woman clover charm necklace,Nan,Nan,1250,Nan,Jewellery-Women
27927,Swarovski,crystal stylish womens rodhium earrings,Nan,Nan,8950,Nan,Jewellery-Women
27928,Jewelz,ethnic gold plated jhumki earrings,Nan,Rs\n1839,643,65% off,Jewellery-Women
27929,Estelle,womens gold plated double line fancy white and...,Nan,Nan,2799,Nan,Jewellery-Women
27930,Estelle,womens gold plated bridge designer mangalsutra...,Nan,Nan,1899,Nan,Jewellery-Women

In [26]:
type(data["Sizes"][27929])

str

In [27]:
data = data[data["Sizes"] != "Nan"]

In [28]:
data

,BrandName,Details,Sizes,MRP,SellPrice,Discount,Category
0,Life,solid cotton blend collar neck womens a-line d...,"Size:Large,Medium,Small,X-Large,X-Small",Rs\n1699,849,50% off,Westernwear-Women
1,Only,polyester peter pan collar womens blouson dres...,"Size:34,36,38,40",Rs\n3499,2449,30% off,Westernwear-Women
2,Fratini,solid polyester blend wide neck womens regular...,"Size:Large,X-Large,XX-Large",Rs\n1199,599,50% off,Westernwear-Women
3,Zink london,stripes polyester sweetheart neck womens dress...,"Size:Large,Medium,Small,X-Large",Rs\n2299,1379,40% off,Westernwear-Women
4,Life,regular fit regular length denim womens jeans ...,"Size:26,28,30,32,34,36",Rs\n1699,849,50% off,Westernwear-Women
...,...,...,...,...,...,...,...
24344,Swiss eagle,womens analogue metallic watch,Size:Error Size,Rs\n13990,4197,70% off,Watches-Women
24731,Lawman watches,womens rose gold dial stainless steel analogue...,Size:Error Size,Rs\n7499,4999,33% off,Watches-Women
25791,Lawman watches,womens silver dial stainless steel analogue wa...,Size:Error Size,Rs\n5999,3999,33% off,Watches-Women
26028,Miu miu,eau de parfum - 50 ml,Size:Error Size,Nan,6100,Nan,Fragrance-Women
26078,Miu miu,eau de parfum - 30 ml,Size:Error Size,Nan,4400,Nan,Fragrance-Women

In [29]:
data.reset_index(inplace = True)

In [30]:
data = data[data["MRP"] != "Nan"]

In [31]:
data.reset_index()

,level_0,index,BrandName,Details,Sizes,MRP,SellPrice,Discount,Category
0,0,0,Life,solid cotton blend collar neck womens a-line d...,"Size:Large,Medium,Small,X-Large,X-Small",Rs\n1699,849,50% off,Westernwear-Women
1,1,1,Only,polyester peter pan collar womens blouson dres...,"Size:34,36,38,40",Rs\n3499,2449,30% off,Westernwear-Women
2,2,2,Fratini,solid polyester blend wide neck womens regular...,"Size:Large,X-Large,XX-Large",Rs\n1199,599,50% off,Westernwear-Women
3,3,3,Zink london,stripes polyester sweetheart neck womens dress...,"Size:Large,Medium,Small,X-Large",Rs\n2299,1379,40% off,Westernwear-Women
4,4,4,Life,regular fit regular length denim womens jeans ...,"Size:26,28,30,32,34,36",Rs\n1699,849,50% off,Westernwear-Women
...,...,...,...,...,...,...,...,...,...
17926,22679,24141,Lemon & pepper,womens casual wear buckle closure flats - navy,"Size:36,37,38,39,40",Rs\n2999,1499,50% off,Footwear-Women
17927,22680,24142,Haute curry,womens casual wear slip on heels - black,"Size:36,37,38,39,40",Rs\n2199,1099,50% off,Footwear-Women
17928,22682,24344,Swiss eagle,womens analogue metallic watch,Size:Error Size,Rs\n13990,4197,70% off,Watches-Women
17929,22683,24731,Lawman watches,womens rose gold dial stainless steel analogue...,Size:Error Size,Rs\n7499,4999,33% off,Watches-Women
17930,22684,25791,Lawman watches,womens silver dial stainless steel analogue wa...,Size:Error Size,Rs\n5999,3999,33% off,Watches-Women

In [ ]:
df = data[data["Discount"] == "Nan"]
df

In [35]:
data.to_csv("Cleaned_data_CSV.csv",index = False)   # index is default true , if you do not want index set it to False

In [38]:
data.to_excel("Cleaned_data_xlsx.xlsx",index = False)